<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microblog</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img class="navbar__logo" src="../images/microblog-logo.svg" alt="Microblog logo" />Microblog
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Recent</a></li>
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Calendar</a></li>
        </ul>
    </header>
    <main>
        <section>
            <h1>Add new entry</h1>
            <form class="form" action="/entry" method="post">
                <p class="form__input">
                    <label for="entry">Entry contents</label>
                    <textarea name="sample" id="entry"></textarea>
                </p>
                <button type="submit" class="button-submit">Add entry</button>
            </form>
        </section>
        <section>
            <h1>Recent Posts</h1>
            <article>
                <div>
                    <h2>A new beginning</h2>
                    <time datetime="30-08-2021">Aug 30</time>
                </div>
                <p>
                    Getting started may seem one of the most difficult parts when facing a project, but remember,
                    it's just the beginning.
                </p>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item" href="https://linkedin.com/in/rubengura">Made by rubengura</a>
                <a class="footer__item" href="https://github.com/rubengura">Check out my other projects</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a class="footer__item" href="#">Recent</a>
                    <a class="footer__item" href="#">Calendar</a>
                </div>
                <div>
                    <a class="footer__item" href="#">About</a>
                    <a class="footer__item" href="#">How this was made</a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>