<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microblog</title>
</head>
<body>
    <header>
        <div class="navbar__brand">
            <img src="../images/microblog-logo.svg" alt="Microblog logo" />Microblog
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Recent</a></li>
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Calendar</a></li>
        </ul>
    </header>
    <main>
        <section>
            <h1>Add new entry</h1>
        </section>
        <section>
            <h1>Recent Posts</h1>
            <article>
                <div>
                    <h2>A new beginning</h2>
                    <time datetime="30-08-2021">Aug 30</time>
                </div>
                <p>
                    Getting started may seem one of the most difficult parts when facing a project, but remember,
                    it's just the beginning.
                </p>
            </article>
        </section>
    </main>
    <footer></footer>
</body>
</html>